.App {
  text-align: center;
}

.movies-container, .search-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies-container .movie-item {
  text-align: center;
  line-height: 75px;
  font-size: 14px;
  padding: 1em;
}

.movie-detail {
  line-height: 30px !important;
  font-size: 1rem;
  text-align: left;
}

.img-thumbnail {
  padding: 0!important;
  border: 5px solid #dee2e6 !important;
  width: 300px !important;
  height: 300px !important;
}

.alert-container, 
.search-info-container, 
.pagination-container,
.loader-container {
  width: 100%;
  margin: 0 2%;
  text-align: center;
}

.search-info-container {
  margin: 1rem 0;
}

.search-query {
  color: #007bff;
  font-weight: bold;
}
